
<header>
    <nav>
        <ul><li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HEM</a></li>
            <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FILMER</a></li>
            <li><a routerLink="/shoppingcart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">VARUKORG</a></li>
            <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LOGGA IN</a></li>
        </ul><br>
    </nav>

    <h2>Välkommen till..</h2>
    <h1>MovieShop</h1>
</header>